* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffd3af;
  color: #fff;
  font-family: 'Lexend', sans-serif;
  margin-right: auto;
  margin-left: auto;
}

 h1 {
  font-size: 50px;
  text-align: center;
  margin: 50px 0;
  color: #0fad98;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

form input, form button {
  padding: 10px;
  font-size: 20px;
  border:none;
  background-color: #fff;
}

form input {
  flex: 2
}

form button {
  color: #ca6d53;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  /* flex: 1; */
  width: 50px;
  font-size: 20px;
}

form button:hover {
  background-color: #ca6d53;
  color: #fff;
}

/* List */
ul {
      justify-content: center;
      list-style: none;
      width: 600px;
      margin: 30px auto;
}

.todo {
  display: flex;
  width: 100%;
  margin: 5px 0;
  transition: all .5s ease;
}

.todo-item {
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  color: #000
}

.completed li {
  text-decoration-line: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: black;
  color: gray;
  opacity: .6;
  
}

.complete-btn, .delete-btn {
  border: 0;
  color: #fff;
  width: 50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.complete-btn {
  background-color: #0fad98;
}

.delete-btn {
  background-color: #ce4800;
}

.complete-btn:hover{
background-color: #48e6d0;
}


.delete-btn:hover {
background-color: rgb(250, 100, 19);
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(80px) rotateZ(20deg);
  opacity: 0;
}

/* Filter */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 0 16px;
  position: relative;
  overflow: hidden;
  height: 43px;
}

select {
  width: 200px;
  height: 100%;
  padding: 10px;
  color: #ce4800;
  font-size: 20px;
  cursor: pointer;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 16px;
  background-color: #ce4800;
  pointer-events: none;
  height: 100%;
}

/* .select:hover::after {
  background: #fff;
  color: #ce4800;
  transition: all 0.3s ease;
} */